<h2 id="sectionHeader">Inicio</h2>

<% if @pinned_posts == nil or @pinned_posts.empty? %>
	<p class="empty">
		No existen noticias destacadas, puedes revisar más en la sección <%= link_to 'Noticias', posts_path %>.
	</p>
	
<% else %>
	<% @pinned_posts.each do |post| %>
		<article>
			<h3><%= post.title %></h3>
			<small><%= post.created_at.strftime("%d-%m-%Y a las %H:%M") %></small>
			<p>
				<%= post.content %>
			</p>
		</article>
	<% end %>
<% end %>